[project]
	description = hii this my git repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ram441
[access "refs/for/refs/*"]
	read = group user/ram441
	push = group user/ram441
	label-Code-Review = -2..+2 group user/ram441
	label-Verified = -1..+1 group user/ram441
	rebase = group user/ram441
	removeReviewer = group user/ram441
	submit = group user/ram441
[access "refs/heads/*"]
	read = group user/ram441
	create = group user/ram441
	push = +force group user/ram441
	pushMerge = group user/ram441
[access "refs/tags/*"]
	push = group user/ram441
	push = +force group user/ram441
